# General

.*
*.local.*
sandbox

# Git

!.gitignore
!.gitkeep
!.gitmodules

## GitHub

!.github

## Pre-commit

!.pre-commit-config.yaml

# Python

__pycache__

## Distribution / packaging

*.egg-info
dist/
build/

## UV

uv.lock
